* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

.container {
  max-width: 1170px;
  margin-inline: auto;
}

.services-wrapper {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.service-card {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 10px;
  max-width: 330px;
  border-radius: 8px;
  padding: 20px 20px;
  text-align: center;
}

img {
  max-width: 150px;
}

h4 {
  color: #23bab1;
  font-weight: 400;
  margin: 7px 0;
}

p {
  color: #666;
  margin-bottom: 7px;
}

.skills {
  margin: 15px 0 25px 0;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

span {
  background-color: #e9fbfa;
  color: #23bab1 !important;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

.btn {
  text-align: center;
  padding: 14px;
  background-color: #0c3a53;
  border: 1px solid #0c3a53;
  width: 100%;
  display: block;
  border-radius: 9px;
  color: #fff !important;
  font-size: 18.76px;
}

@media screen and (max-width: 779px) {
  .service-card {
    max-width: 70%;
  }
}
